html {
    position: relative;
    min-height: 100%;
}
.dp-flex {
    display: flex;
}
.flex-center {
    justify-content: center;
}
.flex-end {
    justify-content: flex-end;
}
.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.shadow {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.end {
    justify-content: flex-end !important;
}

.news-image {
    height: 250px;
    object-fit: contain;
}